venv/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
data/maptask/transcripts 
data/maptask/parsed_transcripts 
data/edacc/data 
data/switchboard/splits/data
data/switchboard/switchboard
model/
trained_models/
trained_model/
bespoketart.egg-info/
build/
