venv/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
data/maptask/transcripts 
data/maptask/parsed_transcripts 
data/edacc/data 
data/switchboard/splits/data
data/switchboard/switchboard
data/fisher/fisher
model/
*.egg-info/
build/
*.pt
data/.cache/
**/wandb/
